.sleep-card {
    margin-bottom: 16px;
  }
  
  .sleep-card ion-card-header {
    background-color: #f2f2f2;
  }
  
  .sleep-card ion-card-title {
    font-weight: bold;
  }
  
  .sleep-card ion-card-subtitle {
    font-style: italic;
  }
  
  .sleep-card ion-card-content {
    padding: 16px;
  }
  