ion-content {
    --ion-background-color: #f4f4f4;  
}

.sleep-card {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    padding: 20px 8px;
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
}
  
.sleep-card ion-card-header {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    margin-bottom: 20px;
}

.sleep-card ion-card-title {
    font-weight: bold;
}

.sleep-card ion-card-subtitle {
    font-style: italic;
}

.sleep-card ion-card-content {
    padding: 16px;
}
  
.card-buttons {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
    box-shadow: none;  
}
  
  
.card-content {
    flex-grow: 1;
}
  
