ion-item.ion-margin {
    margin-top: 20px; 
    margin-bottom: 20px;  
    align-items: center;
}

ion-card.ion-card-margin {
    margin: 40px;
    margin-top: 20px;  
}

ion-label.ion-header-font {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(158, 184, 163);
    color: white;
    padding: 10px
}

ion-button.log-button {
    --background: rgb(146, 179, 137);
    --color: white;
}

ion-button {
    font-size: 18px;
    margin: 40px;  
}

.center-title {
    text-align: center;
  }
  