<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="center-title">
        Dashboard
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" scroll-y="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>

  <!-- Average Hours -->
  <ion-label class="medium-label-bold">Past Week Average Hours</ion-label>
  <br>
  <ion-label class="medium-label">{{ averageSleep7Days }}</ion-label>

  <br>
  <br>
  <ion-label class="medium-label-bold">Past Week Sleep Logs</ion-label>
  <!-- Sleep Logs -->
  <ion-list>
    <ion-item *ngFor="let sleepLog of weekSleepHistory">
      <ion-label>{{ sleepLog.dateString() }}</ion-label>
      <br>
      <ion-label>{{ sleepLog.summaryString() }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- View All Sleep History Button -->
  <ion-button expand="block" (click)="viewLoggedData()" class="view-button">View All Sleep Logs</ion-button>
</ion-content>
</ion-app>
